#left {
  background-color: gainsboro;
}  

#left a {
  text-decoration: none;
  color: black;
}

.sideMenu {
  margin: 0;
  padding: 30px 2px 20px;
  width: 160px;
  position: sticky;
  top: 60px;
  color: black;
}

#left ul li {
  list-style: none;
  margin: 10px 0;
}

.options {
  padding-left: 10px;
}



